#Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    background-color: #0077b6;
    color: #ffffff;
}

#logo {
    align-self: center;  
    width: 250px;
    height: auto;
    padding-right: 15px;
}

#webpageTitle {
    align-self: center;  
    flex-grow: 4;
    font-size: 4em;  
    text-align: left; 
}

#navigationTabs {
    align-self: center;  
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    text-align: right;  
    font-size: 2em; 
    text-decoration: none;  
}

#navigationTabs div {
    margin-left: 10px;
    margin-bottom: 15px;
    margin-right: 30px;
    color: #ffffff; 
}

#contactDetails {
    align-self: center; 
    text-align: center; 
}
a {
    color: #ffffff;
    background-color: #004466 ;
    padding: 5px;
}
hr {
    color: #ffffff;
}
#homePageImage {
    width: 100%;
    height: auto;
}
#overlayText{
    position: absolute;
    left: 45%;
    top: 85%;
    font-size: 3em;
    background-color: #0077b6;
    border-radius: 5px;
    padding: 50px;
}
#ServiceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#kitText {
    width: 45%; 
    padding: 20px; 
    font-size: larger;
    border: black solid 5px;
}

#kitImage {
    width: 45%; 
}

#kitImage img {
    width: 100%; 
    height: auto;
}
#ServiceContainerTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    flex-direction: row-reverse;

}


.text{
    color: #ffffff;
    background-color: #004466;
    font-family:  'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
    font-weight: 900;
    font-family:'Montserrat', sans-serif;
}
.hover-grow img {
    transition: transform 0.3s ease;
}
.hover-grow img:hover{
    transform: scale(1.1);
}
#tripPageIntro{
    word-spacing: 2px;
    text-align: center;
    line-height: 35px;
    font-size: 1.5em;
    padding: 3px;
}
#packagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}
#individualPackages{
    border: solid black 3px;
    margin-left: 30px;
    margin-right: 30px;
}
.listStyleNoDecor{
    list-style-type: none;
}
#tripExampleContainer{
    display: grid;
}
#tripExamplePackageIndividual{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 2em;
    text-align: center;
}
#tripExamplePackageIndividual img{
    grid-column: 1/2;
}
.textContent{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#teamMemberContainer {
    display: flex;
}
#teamMemberContainer img{
    width: 100%;
    height: auto;
}
#teamMember{
    text-align: center;
    font-size: medium;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 15px;
}
#submit{
    font-size: xx-large;
}
a:hover{
    box-shadow: 10px 10px 5px 3px rgba( 0, 0, 0, 5);
}
#storeSuppliesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}
#item {
    padding: 20px;
    text-align: center;
    border: black solid 3px;
    gap: 10px;
}